/*=================================================================================================================================
                                                            Tablet Mode
===================================================================================================================================*/
@media (min-width:765px) and (max-width:990px) {
    #sideToggler {
        display: block !important;
        z-index: 10000;
        float: left;
    }

    #smallNav {
        background: rgb(48, 46, 46);
        width: 100%;
        position: fixed;
        z-index: 100;
        padding: 10px;
        top: 30px;
    }

    #topBar {
        position: fixed;
        z-index: 100;
    }

    #navigation {
        display: none !important;
    }
}

/*=================================================================================================================================
                                                            Mobile Mode
===================================================================================================================================*/

@media(max-width:764px) {

    #sideToggler {
        display: block !important;
        z-index: 10000;
        float: left;
    }

    #smallNav {
        background: rgb(48, 46, 46);
        width: 100%;
        position: fixed;
        z-index: 100;
        padding: 10px;
        top: 4px;
    }

    #topBar {
        display: none;
    }

    #navigation {
        display: none !important;
    }

}