*{
    border-radius: 0 !important;
}
/*======================================================
                Top Start
======================================================*/
#top{
    background: url('../image/topBackground.jpg') fixed no-repeat ;
    background-size: cover;
    width: 100%;
    height: 700px;
}

#topPhone img{
    margin-top: 50px !important;
    height: 500px;
}

#btnDownload{
    border-radius: 25px;
    font-size: 20px;
}

#topDescription{
    margin-top: 300px;
}
/*======================================================
                Top End
======================================================*/


/*======================================================
                Short Description Start
======================================================*/

#shortdesc .media img{
    width:80px;
    height: 80px;
    margin-left: 20px;
}
/*======================================================
                Short Description End
======================================================*/



/*======================================================
                Infography Start
======================================================*/
#infography{
    background-color: red;
    text-align: center;
}

#infography img{
    width: 1000px;
}
/*======================================================
                Infography End
======================================================*/





/*======================================================
                Slider Start
======================================================*/
.SlikSlider div{
    outline: none;
}
.SlikSlider img{
    width: 300px;
    height:400px;
    padding-right: 30px;
}
.SlikSlider{
    width: 80% !important;
    margin: 0 auto;
}
.slick-prev:before, .slick-next:before{
    display: none !important ;
}

.slick-dots li button:before{
    color : red !important;
    font-size: 15px !important;
    margin-top: 20px;
}
/*======================================================
                Slider End
======================================================*/








/*======================================================
                Download App Start
======================================================*/
#downloadApp{
    background-color: rgb(189, 43, 43);
}
#downloadApp a{
    display: inline-block;
    width:300px;
    background-color: transparent;
    border: 2px solid white;
}
#downloadApp a:hover{
    background-color: white;
}
#downloadApp a:hover i , #downloadApp a:hover span{
    opacity:1;
}

#downloadApp a i{
    font-size: 100px;
    color : rgb(119, 235, 12);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

#downloadApp a span{
    font-size: 20px;
    color: black;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
/*======================================================
                 Download App End
======================================================*/









/*======================================================
                 Cards Info Start
======================================================*/
#cardInfo{
    background: rgb(240, 240, 240);
}

.card{
    background-color: rgb(216, 32, 124);
    border-radius: 0;
    border: 0;
}

.card-header{
    background-color: rgb(66, 66, 66) ;
    color: white;
}
/*======================================================
                 Cards Info End
======================================================*/






/*======================================================
                 Contact Form  Start
======================================================*/

#contactForm input[type = "text"]{
    display: block;
    width:100%;
    padding: 10px;
    font-size: 20px;
    border: 0px;
    outline: none;
    border-bottom: 2px solid rebeccapurple;
}

#contactForm textarea{
    display: block;
    width:100%;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    border: 0px;
    outline: none;
    border-bottom: 2px solid rebeccapurple;
}

#contactForm button{
    border:0;
    background-color: transparent;
    padding:10px 30px;
    width:100%;
    margin-top: 10px;
    border-bottom: 2px solid red;
    transition: all 0.3s ease-in;
}
#contactForm button:hover{
    border-bottom: 2px solid red;
    background-color: red;
    color: white;
}
/*======================================================
                 Contact Form  End
======================================================*/







/*======================================================
                    Team Start
======================================================*/
.teamCard{
    position: relative;
    display: inline-block;
}

.teamCard img{
    height:300px;
}

.teamCardTxt{
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    padding:20px;
    color: white;
}

.teamCard:hover .teamCardTxt{
    display: block;
    visibility: visible;
    opacity: 1;
}

/*======================================================
                    Team End
======================================================*/






/*======================================================
                Statistics Start
======================================================*/
#statistics .fa{
    font-size: 150px;
}

.count{
    font-size: 100px;
    display: block;
}
/*======================================================
                Statistics End
======================================================*/




/*======================================================
                Contact Us Start
======================================================*/
#contactUs ul{
    list-style-type: none;
}

#contactUsRight{
    box-shadow: 0px 0px 5px 1px rgb(231, 231, 231);
    padding: 50px !important;
    height:100%;
}
#contactUsLeft{
    box-shadow: 0px 0px 5px 1px rgb(231, 231, 231);
    padding: 50px !important;
    height:100%;
}

#contactUs input[type="text"]{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(156, 156, 156);
    padding:10px;
    font-size: 18px;
}
#contactUs input[type="text"]:focus{
    background: transparent;
    outline: none;
    border-bottom: 2px solid red;
}
#contactUs textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(156, 156, 156);
    padding:10px;
    outline: none;
}
#contactUs textarea:focus{
    border-bottom: 2px solid red;
}

#contactOutter{
    box-shadow: 0px 0px 5px 1px rgb(231, 231, 231);
}

#contactUsBtn{
    border-radius: 50%;
    padding: 10px;
    width:100px;
    border:0;
    background: transparent;
    outline: none;
    box-shadow: 0 0 10px 1px rgb(179, 28, 86);
    transition: all 0.2s ease-in;
    font-size: 18px;
}

#contactUsBtn:hover{
    background-color: rgb(179, 28, 86);
    color:white;
}
/*======================================================
                Contact Us End
======================================================*/





